body{
    background-color: #ffecec;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    background-color: #fff;
    border-radius: 5px;
    margin: 1.5em auto;
    padding: 3em;
    width: 50%;
}

.btnCTA, .btnSecondary{
    border: 0px;
    border-radius: 5px;
    display: block;
    padding: 1em;
    width: 100%;
    margin-bottom: 15px;
}

.btnCTA{ background-color: #ff2f5f; color: #fff; }

.btnSecondary{
    background-color: #fff;
    border: 2px solid #ff005b;
    color: #ff005b;
}

.container input{ width: 100%; }

.container input, textarea{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin-bottom: 1.5em;
    outline: none;
    padding: 1em 0;
    width: 100%;
}

.container h3{
    color: #4e5c6b;
    margin: 0 auto 5% auto;
    text-align: center;
}

textarea{ width: 99%; height: 80px; }

figure{ text-align: right; }

.icon{ width:30px; margin-right: 0px; }

.container h4{
    color: #4e5c6b;
    margin: 0 auto 5% auto;
    text-align: left;
}

.logout{
    position: absolute;
    top: 10px;
    right: 10px;
    position: fixed
}